.audio__title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow: hidden;
    flex-wrap: nowrap;
}

.audio__title-wrap>* {
    height: 100%;
}

.audio__title {
    display: flex;
    justify-content: start;
    flex-direction: column;

    min-width: 0;
    margin-right: 5px;
}

.audio__title>* {
    height: 100%;
}

.song__title {
    display: block;
    font-size: var(--secondary-font-size);
    color: var(--main-text-color);
}

.song__performer {
    display: block;
    font-size: var(--secondary-font-size);
    color: var(--secondary-text-color);

    z-index: 1;
}

.song__performer:hover {
    text-decoration: underline;
}

.audio__title__text-wrap {
    display: flex;
}