.popup {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0008;
  padding-bottom: 69px;
}

.popup .selected-playlist-container {
  margin-top: 10%;
}



.popup__back-wrap {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background: transparent;
  z-index: 0;
}